.dockerignore
.env
.git
.gitignore
.gitlab-ci.yml
.idea
.vscode
.yarn
**/*.spec.ts
**/*.spek.ts
# Ignore deployment file
# Ignore test files
coverage*
cypress
cypress.json
dist
docker-compose*
Dockerfile
latex-notes
node_modules
tests
README.md