@forward "vuetify/settings" with (
    // Margin around active/expanded panel
    $expansion-panel-active-margin: 0px,
    $expansion-panel-title-padding: 0px 8px,
    $expansion-panel-background-color: #D9F2DF,
    $expansion-panel-text-padding: 4px,
    $expansion-panel-border-radius: 8px
);